
.containerDashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.dashboard {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.DashboardCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 18rem;
    padding: 10px;
}

.card-content {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .dashboard {
        display: grid;
        grid-template-columns: auto;
    }
    .DashboardCard{
        height: 7rem;
        width: 16rem;
    }
    .pieChart{
        display: none;
    }
}

