.mainSyllabus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    padding: 20px;
    overflow: auto;
}
/* .mainSyllabus h1{
    margin: 0 ;
} */
.input-syllabus{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-syllabus .syllabus{
    width: 30rem;
}   

.concept{
    margin:1rem;
    padding: 2rem;
    width:30rem;
    display: flex;
    flex-direction: column;
}

.concept-syllabus{
    width: 100%;
} 

.concept-btn{
    margin: 1rem !important;
    width: 10rem !important;
}
.concept .concept-btn{
    width: 40%;
}